:root {
  --blue: #0b3954;
  --red: #ff6663;
  --yellow: #e0ff4f;
  --lightBlue: #bfd7ea;
}
#root {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  padding: 32px;
  border: 2px solid var(--lightBlue);
  border-radius: 8px;
}

.app-title {
  color: var(--blue);
}

.card {
  border: 3px solid var(--yellow);
  border-radius: 8px;
  padding: 16px;
}

.card-title {
  color: var(--blue);
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.card-item {
  display: flex;
  column-gap: 2px;
  text-align: right;
}

.card-half-item {
  display: inline-block;
  background-color: var(--lightBlue);
  padding: 16px;
  width: 50%;
}

.card-team-name {
  font-weight: 600;
}
.card-scores {
  color: var(--red);
  font-weight: 700;
}